.container{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  height:100vh;
}

.container p.heading{
  text-align:center;
  font-size:33px;
  margin-bottom:1rem;
}

.container .form-div{
  margin-top:0rem;
}

.container .form-div form{
  display:flex;
  justify-content:center;
  flex-direction:column;
}
.container .form-div form .item{
  margin-bottom:10px;
}

.container .form-div form .item p{
  font-size:20px;
  margin-bottom:5px;
}

.container .form-div form .item p span{
  color:red;
  margin-left: 5px;
}

.container .form-div form .item input,
.container .form-div form .item textarea{
  width:25rem;
  padding:5px 10px;
  font-size:20px;
  color:#000000b0;
}

.container .form-div form .item input[type="submit"]{
  width:10rem;
  background-color:#007bff;
  color:white;
  border:1px solid gray;
  border-radius:5px;
  cursor:pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:5px auto;
}

@media screen and (max-width:435px){
.container p.heading{
  font-size:25px;
}

.container .form-div form .item{
  margin-bottom:10px;
}

.container .form-div form .item p{
  font-size:18px;
  margin-bottom:5px;
}

.container .form-div form .item input,
.container .form-div form .item textarea{
  width:18rem;
  padding:5px 10px;
  font-size:18px;
}

.container .form-div form .item input[type="submit"]{
    width:10rem;
    padding:8px 10px;
}  
}